@import "tailwindcss";

@theme {
  --color-primary: #141718;
  --color-secondary: #1e293b;
  --color-accent: #f59e0b;
  --color-blue: #2563eb;

  --color-heading: #141718;
  --color-body: #7c797a;
  --color-footer-bg: #001326;
  --color-footer-text: #e8ecef;

  --font-heading: Coolvetica, sans-serif;
  --font-sans: "Open Sauce One", sans-serif;
}

@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/Coolvetica Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("./assets/fonts/OpenSauceOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("./assets/fonts/OpenSauceOne-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-white font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
